@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");

body {
  background-color: #242525;
}

.container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background-color: #242525;
}

section {
  display: flex;
  flex-direction: column;
  min-width: 92.5vw;
  height: 90vh;
  margin: 32px 64px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}
